{% extends "templates/web.html" %}
 
{% block breadcrumbs %}
	{% include "templates/includes/breadcrumbs.html" %}
{% endblock %}

{% block header %}
<h1>{{doc.vineyard_name}}</h1>
{% endblock %}

{% block page_content %}

<h3>{{doc}}</h3>
 
<h2>Address</h2>
<ul>
<p>{{doc.address_1}}</p>
<p>{{doc.city}}, {{doc.state}}</p>
</ul>
{% if doc.customers|length > 0 %}
	<h2>Customers</h2>
	<ul>
		{% for customer in doc.customers %}
			{% if variable is defined %}
			  <li>Name: {{customer.customer_full_name}}</li>
			  <li>Email: {{customer.customer}}</li>
			{% endif %}
		{% endfor %}
	</ul>
{% endif %}

{% include "templates/includes/mapping/map.html" %}


{% endblock %}



{% block script %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_k9KqK-kXGq5t7-35Hnem541bOK7HiLA"></script>
<!-- <script> {% include "/templates/generators/vineyard/vineyard_profile.js" %} </script> -->
<!-- <link rel="stylesheet" href="/templates/includes/mapping/map.css"> -->
<script> {% include "/templates/includes/mapping/map.js" %} </script>
{% endblock %}






