{% extends "templates/web.html" %}
 
{% block breadcrumbs %}
	{% include "templates/includes/breadcrumbs.html" %}
{% endblock %}

{% block header %}
<h1>{{doc.vineyard_name}}</h1>
{% endblock %}

{% block page_content %}

 
<h2>Info</h2>
<ul>
	<li>Address: {{doc.address_1}}</li>
	<li>City: {{doc.city}}</li>
</ul>
<h2>Customers</h2>
<ul>
	{% for customer in customers %}
		<li>{{customer}}</li>
	{% endfor %}
</ul> 


{% endblock %}

{%- block script %}

<!-- <script>
{#% include "public/js/frappe/misc/user.js" %#}
	//$(frappe.avatar(frappe.user.name, 'avatar-large')).appendTo($('.user-image-account'))

	frappe.ready(function() {
		$(frappe.avatar(frappe.user, 'avatar-large')).appendTo($('.user-image-account'))
		//$('.user-image-account').html(frappe.avatar( frappe.user , 'avatar-large'));
	});
</script> -->
{%- endblock %}




