{% extends "templates/web.html" %}

{% block style %}
<style>


</style>
{% endblock %}

{% block page_content %}

<br />

 

<div id="app">
	
</div>
<div class="panel panel-default panel-buffer">
	<div class="panel-heading">
	    <h3 class="panel-title">Spray</h3>
	</div>
	<div class="panel-body">
		<div id="app2">
			
		</div>
	</div>
</div>

{% endblock %}

{% block script %}  

	<script>{% include "/www/playground/PlayGround.js" %}</script>

{% endblock %}

{% block sidebar %}{% endblock %}
