{% extends "templates/web.html" %}

{% block style %}

{% endblock %}

{% block page_content %}
<h2>Welcome {{current_user.full_name}}. It is {{today}}.</h2>
<div>
    <h3>Basic info</h3>
    <li>{{today}}</li>
    <li>Crew Lead: {{crew.crew_lead}}</li>
    <li>crew: {{crew.name}}</li>
</div>
<div class="time">
</div>
<div class="workorders"><h3>Workorders</h3></div>
<datalist id="mylist">
	<option>Ada</option>
	<option>Java</option>
	<option>JavaScript</option>
	<option>Brainfuck</option>
	<option>LOLCODE</option>
	<option>Node.js</option>
	<option>Ruby on Rails</option>
</datalist>

{% endblock %}

{% block script %}

	<script>{% include "/www/workpage/workpage.js" %}</script>
<script id="time_sheet_template" type="text/template">
	{% include "/www/workpage/time_sheet.html" %}
</script>
<script id="time_sheet_wrapper" type="text/template">
	{% include "/www/workpage/time_sheet_wrapper.html" %}
</script>
    <script>
    </script> 
{% endblock %}

{% block sidebar %}{% endblock %}
