{% extends "templates/web.html" %}
{% block style %}
<style>
/* prosadata style code includes begin */	
	{% include "templates/includes/login/login.css" %}
	{% include "templates/css/bootstrap.css" %}
	{% include "www/css/crew_manager_menu.css" %}
/* prosadata style code includes end */
/* prosadata style code generation begin */
/* prosadata.com style code generation end */
</style>
{% endblock %}
{% block page_content %}
<form class="form-signin form-test" role="form">
	<div class="login_header">Attendance check out</div>
	<!--

	{{usr_pd}}
	
	{{employee}}
-->
	<input type=hidden name=employee id="employee" value="{{employee_name}}">
	<label for="att_date">Date</label>
	<br>
	<input class="form-control" type=text name=att_date id="att_date" value="{{att_date}}">
	<input type=hidden name=status id="status" value="Started">
	<label for="start_">End</label>
	<br>
	<input class="form-control" type=text name=start_ id="start_" value="{{start_}}">
	<input class="btn btn-lg btn-default btn-block btn-login" type="submit" value="Check out">
</form>
{% endblock %}
{% block script %}
<!-- prosadata script code generation begin -->
<script>
	{% include "www/js/check_out.js" %}
</script>
<!-- prosadata.com script code generation end -->
{% endblock %}