{% extends "templates/web.html" %}
{% block style %}
<style>
	{% include "templates/includes/login/login.css" %}
	{% include "templates/css/bootstrap.css" %}
	{% include "www/css/mapping_links.css" %}
	/* prosadata code generation begin */
	/* prosadata.com code generation end */
</style>
{% endblock %}

{% block page_content %}
<!-- prosadata code generation begin -->
<div class="container-fluid">
	<div class="row">
		<img src="{{"/assets/process_success/images/mapping.jpg" }}" id="imgtop">
		<p style="font-family: DosisBold; font-size: 18px; text-align: center; font-weight: bold;"> Mapping </p>	
	</div>	
	<p style="font-family: DosisBold; font-size: 18px; text-align: center;">
		<a href="searchable_database">Provides searchable database of vineyards</a>
	</p>
	<p style="font-family: DosisBold; font-size: 18px; text-align: center;">
		<a href="map_drawing">Live link to Google Earth and Google Maps (with marking enabled)</a>
	</p>
		<p style="font-family: DosisBold; font-size: 18px; text-align: center;">
		<a href="map_with_people">Eneables drawing on pas, screen capture and exporting to Client Reocrd</a>
	</p>
</div>
<!-- prosadata.com code generation end -->
{% endblock %}
{% block script %}
<script>
<!-- prosadata code generation begin -->
<!-- prosadata.com code generation end -->
</script>
{% endblock %}