{% extends "templates/web.html" %}
{% block style %}
<style>
	{% include "templates/includes/login/login.css" %}
	{% include "templates/css/bootstrap.css" %}
	/* prosadata code generation begin */
	/* prosadata.com code generation end */
</style>
{% endblock %}

{% block page_content %}
<!-- prosadata code generation begin -->
<div class="container-fluid">
	<div class="row">
		<p style="font-family: DosisBold; font-size: 18px; text-align: center; font-weight: bold;"> Sorry</p>	
	</div>	
	<p style="font-family: DosisBold; font-size: 18px; text-align: center;">
		Sorry, this feature is not developed yet
	</p>	
</div>
<!-- prosadata.com code generation end -->
{% endblock %}
{% block script %}
<script>
<!-- prosadata code generation begin -->
<!-- prosadata.com code generation end -->
</script>
{% endblock %}