{% extends "templates/web.html" %}
{% block style %}
<style>
	{% include "templates/includes/login/login.css" %}
	{% include "templates/css/bootstrap.css" %}
	{% include "www/css/TimeTrackingLinks.css" %}
	/* prosadata code generation begin */
	/* prosadata.com code generation end */
</style>
{% endblock %}

{% block page_content %}
<!-- prosadata code generation begin -->
<div class="container-fluid">
	<div class="row">
		<img src="{{"/assets/process_success/images/crew_attendance.jpg" }}" id="imgtop">
		<p style="font-family: DosisBold; font-size: 18px; text-align: center; font-weight: bold;"> Crew Attendance </p>	
	</div>	
	<p style="font-family: DosisBold; font-size: 18px; text-align: center;">
		<a href="attendance">Leadman Logs In/Logs Out Crew Member</a>
	</p>
	<p style="font-family: DosisBold; font-size: 18px; text-align: center;">
		<a href="crew_location">Provides list of Crew Member and Location</a>
	</p>
	<p style="font-family: DosisBold; font-size: 18px; text-align: center;">
		<a href="crew_names_assigned">Crew Name Assigned to Each Work Order</a>
	</p>	
</div>
<!-- prosadata.com code generation end -->
{% endblock %}
{% block script %}
<script>
<!-- prosadata code generation begin -->
<!-- prosadata.com code generation end -->
</script>
{% endblock %}