{% extends "templates/web.html" %}
{% block style %}
<style>
	{% include "templates/includes/login/login.css" %}
	{% include "templates/css/bootstrap.css" %}
	{% include "www/css/Tool_shed_Links.css" %}
	/* prosadata code generation begin */
	/* prosadata.com code generation end */
</style>
{% endblock %}

{% block page_content %}
<!-- prosadata code generation begin -->
<div class="container-fluid">
	<div class="row">
		<img src="{{"/assets/process_success/images/tool_shed.jpg" }}" id="imgtop">
		<p style="font-family: DosisBold; font-size: 18px; text-align: center; font-weight: bold;"> Tool Shed</p>	
	</div>	
	<p style="font-family: DosisBold; font-size: 18px; text-align: center;">
		<a href="check_tools">Check in/Check out of equipment</a>
	</p>
	<p style="font-family: DosisBold; font-size: 18px; text-align: center;">
		<a href="record_consumables">Record use of consumables</a>
	</p>
	<p style="font-family: DosisBold; font-size: 18px; text-align: center;">
		<a href="document_assets">Document lost and found</a>
	</p>	
</div>
<!-- prosadata.com code generation end -->
{% endblock %}
{% block script %}
<script>
<!-- prosadata code generation begin -->
<!-- prosadata.com code generation end -->
</script>
{% endblock %}