#imgtop{
		display: block;
    	margin: auto;
		width: 200px;
	}
	
	.profileImage{
		position: absolute;
  		left: 0px;
  		width: 200px;
	}
	.infoDiv{
		margin-left: 200px;
	}
	.formframe{
		border: 1px solid #ebeff2;
		border-radius: 5px;
		padding:10px;

	}
	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}

	td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}

	tr:nth-child(even) {
		background-color: #dddddd;
	}