{% extends "templates/web.html" %}
{% block style %}
<style>
/* prosadata style code includes begin */	
	{% include "templates/includes/login/login.css" %}
	{% include "templates/css/bootstrap.css" %}
	{% include "www/css/crew_manager_menu.css" %}
/* prosadata style code includes end */
/* prosadata style code generation begin */
/* prosadata.com style code generation end */
</style>
{% endblock %}
{% block page_content %}
<!-- prosadata page content generation begin -->
<footer style="background:#333;">
	<div class="container">
		<div class="row">
			<p style="font-family:CrimsonRoman; color:#fff; text-align: center; padding-top: 10px;">© 2017 COASTAL RANGE VINEYARDS. All rights reserved.</p>
			<img src="{{ "/assets/images/processsuccess.jpg" }}" width="15%" style="display: block;margin-left: auto;margin-right:auto;" />
		</div>
	</div> 
</footer> 
<!-- prosadata.com page content generation end -->
{% endblock %}
{% block script %}
<!-- prosadata script code generation begin -->
<script>

window.disable_signup = {{ disable_signup and "true" or "false" }};

window.login = {};

login.bind_events = function() {
	//alert("page loaded");
	$( "#work_orders" ).click(function() {
  			var path = "/WorkOrderLinks.html";
			window.location.href = path;
		});
	$( "#crew_attendance" ).click(function() {
  			var path = "/TimeTrackingLinks.html";
			window.location.href = path;
		});
	$( "#tool_shed" ).click(function() {
  			var path = "/Tool_shed_Links.html";
			window.location.href = path;
		});
	$( "#client_database" ).click(function() {
		var path = "/client_database.html";
		window.location.href = path;
	});
	$( "#client_portal" ).click(function() {
		var path = "/Client_Portal_Links.html";
		window.location.href = path;
	});
	$( "#vineyard_operations" ).click(function() {
		var path = "/vineyard_List.html";
		window.location.href = path;
	});
	$( "#mapping" ).click(function() {
		var path = "/mapping_links.html";
		window.location.href = path;
	});
	
}

frappe.ready(function() {
	login.bind_events();
});
</script>
<!-- prosadata.com script code generation end -->
{% endblock %}