{% extends "templates/web.html" %}

{% block style %}
<style>
{% include "templates/includes/login/login.css" %}
</style>
{% endblock %}

{% block page_content %}
	<h1>Use of consumables</h1>
	<form id="myForm" method="POST">
		
		<label for="code">Consumable:</label>
		<select id="code">
			{% for cont in rowContent: %}
				<option value={{cont['name']}}>{{cont['cons_name']}}</option>
			{% endfor %} 
		</select>
		<br><br>
		<label for="date">Date:</label>
		<input type="date" id="date" name="date">
		<br><br>
		<label for="amount">Amount:</label>
		<input id="amount" type="number" min="0" step="0.0001" name="amount">
		<br><br>
		<input type="button" value="Add" onclick="send()">

	</form>

{% endblock %}
{% block script %}
	<script>
		{% include "www/js/test.js" %}
	</script>
{% endblock %}