{% extends "templates/web.html" %}
{% block style %}
<style>
/* prosadata style code includes begin */	
	{% include "templates/includes/login/login.css" %}
	{% include "templates/css/bootstrap.css" %}
	{% include "www/css/work_order_list.css" %}
/* prosadata style code includes end */
/* prosadata style code generation begin */
/* prosadata.com style code generation end */
</style>
{% endblock %}
{% block page_content %}
	<h1>List of work orders</h1>
	<!--<br><br>
	<input type="text" id="find">
	<button onclick="find()">Find</button>
	<br><br>-->
	<table id="tablepaging">
    <thead>
    <tr>
      <th>Work order</th>
	  <th>Date</th>
	  <th>Start</th>
	  <th>End</th>
	  <th>Status</th>
	  <th>Client name</th>
	  <th>Vineyard</th>
	  <th>Assign To</th>
	  <th>Tasks to do</th>
    </tr>
    </thead>
    <tbody id="body1">
		{% for cont in work_orders: %}
		
			<tr>
			  <td>{{cont[0]}}</td>
			  <td>{{cont[1]}}</td>
			  <td>{{cont[2]}}</td>
			  <td>{{cont[3]}}</td>
			  <td>{{cont[4]}}</td>
			  <td>{{cont[5]}}</td>
			  <td>{{cont[6]}}</td>
			  <td> 
				{% for name in cont[8]: %}
					{{name}}<br>
				{% endfor %}
			  </td>
			  <td>
				<a href="work_order_tasks" onclick="showTasks('{{cont[7]}}', '{{cont[0]}}');"> Show tasks </a>
			  </td>
			</tr>   
			
		{% endfor %}
    </tbody>
  </table>
  <div id="pageNavPosition" style="padding-top: 20px" align="center"></div>


{% endblock %}
{% block script %}
<!-- prosadata script code generation begin -->
<script>
	{% include "www/js/work_order_list.js" %}
</script>
<!-- prosadata.com script code generation end -->
{% endblock %}